<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gnu.gr account registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="https://gnu.gr/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://gnu.gr/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://gnu.gr/static/css/app.css">
  </head>
  <body class="register">

    <div class="alert alert-success" role="alert">Επιτυχής εγγραφή!</div>
      <p>
        Ο λογαριασμός σου είναι: <code>{jid}</code>
      </p>
    </div>

    <script src="https://gnu.gr/static/js/jquery.min.js"></script>
    <script src="https://gnu.gr/static/js/bootstrap.min.js"></script>
    <script src="https://gnu.gr/static/js/app.js"></script>

  </body>
</html>
