## Ansible managed, any manual changes will be lost.
[client]
user={{ mysql_root_username }}
password={{ mysql_root_password }}

[mysqldump]
user={{ mysql_root_username }}
password={{ mysql_root_password }}
